.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__redes{
        display: flex;
        padding: 5px;
        margin: 5px;
        & a img{
            max-width: 4rem;
            margin: 5px;
        }
    }
}